src/main/resources/xsd/RicercaRecuperati/RicercaRecuperati.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. 
	RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) 
	JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. -->
<xs:schema xmlns:tns="http://ws.sacerasi.eng.it/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://ws.sacerasi.eng.it/">

	<xs:element name="ricercaRecuperati" type="tns:ricercaRecuperati" />

	<xs:element name="ricercaRecuperatiResponse" type="tns:ricercaRecuperatiResponse" />

	<xs:complexType name="ricercaRecuperati">
		<xs:sequence>
			<xs:element name="nmAmbiente" type="xs:string" minOccurs="0" />
			<xs:element name="nmVersatore" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ricercaRecuperatiResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:ricercaRecuperatiRisposta"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ricercaRecuperatiRisposta">
		<xs:sequence>
			<xs:element name="cdErr" type="xs:string" minOccurs="0" />
			<xs:element name="cdEsito" type="tns:esitoServizio"
				minOccurs="0" />
			<xs:element name="dsErr" type="xs:string" minOccurs="0" />
			<xs:element name="listaOggetti" type="tns:listaOggRicRecuperatiType"
				minOccurs="0" />
			<xs:element name="nmAmbiente" type="xs:string" minOccurs="0" />
			<xs:element name="nmVersatore" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="listaOggRicRecuperatiType">
		<xs:sequence>
			<xs:element name="oggetto" type="tns:oggRicRecuperatiType"
				nillable="true" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="oggRicRecuperatiType">
		<xs:sequence>
			<xs:element name="cdKeyObject" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="esitoServizio">
		<xs:restriction base="xs:string">
			<xs:enumeration value="OK" />
			<xs:enumeration value="KO" />
			<xs:enumeration value="WARN" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>