src/main/resources/xsd/NotificaTrasferimentoFile/NotificaTrasferimentoFile.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. 
	RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) 
	JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. -->
<xs:schema xmlns:tns="http://ws.sacerasi.eng.it/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://ws.sacerasi.eng.it/">

	<xs:element name="notificaAvvenutoTrasferimentoFile" type="tns:notificaAvvenutoTrasferimentoFile" />

	<xs:element name="notificaAvvenutoTrasferimentoFileResponse"
		type="tns:notificaAvvenutoTrasferimentoFileResponse" />

	<xs:complexType name="notificaAvvenutoTrasferimentoFile">
		<xs:sequence>
			<xs:element name="nmAmbiente" type="xs:string" minOccurs="0" />
			<xs:element name="nmVersatore" type="xs:string" minOccurs="0" />
			<xs:element name="cdKeyObject" type="xs:string" minOccurs="0" />
			<xs:element name="listaFileDepositati" type="tns:listaFileDepositatoType"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="listaFileDepositatoType">
		<xs:sequence>
			<xs:element name="fileDepositato" type="tns:fileDepositatoType"
				nillable="true" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="fileDepositatoType">
		<xs:sequence>
			<xs:element name="cdEncoding" type="xs:string" minOccurs="0" />
			<xs:element name="dsHashFile" type="xs:string" minOccurs="0" />
			<xs:element name="nmNomeFile" type="xs:string" minOccurs="0" />
			<xs:element name="nmTipoFile" type="xs:string" minOccurs="0" />
			<xs:element name="tiAlgoritmoHash" type="xs:string"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="notificaAvvenutoTrasferimentoFileResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:notificaTrasferimentoRisposta"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="notificaTrasferimentoRisposta">
		<xs:sequence>
			<xs:element name="cdErr" type="xs:string" minOccurs="0" />
			<xs:element name="cdEsito" type="xs:string" minOccurs="0" />
			<xs:element name="cdKeyObject" type="xs:string" minOccurs="0" />
			<xs:element name="dsErr" type="xs:string" minOccurs="0" />
			<xs:element name="listaFileDepositati" type="tns:listaFileDepositatoRespType"
				minOccurs="0" />
			<xs:element name="nmAmbiente" type="xs:string" minOccurs="0" />
			<xs:element name="nmVersatore" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="listaFileDepositatoRespType">
		<xs:sequence>
			<xs:element name="fileDepositato" type="tns:fileDepositatoRespType"
				nillable="true" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="fileDepositatoRespType">
		<xs:sequence>
			<xs:element name="cdEncoding" type="xs:string" minOccurs="0" />
			<xs:element name="dsHashFile" type="xs:string" minOccurs="0" />
			<xs:element name="nmNomeFile" type="xs:string" minOccurs="0" />
			<xs:element name="nmTipoObject" type="xs:string"
				minOccurs="0" />
			<xs:element name="tiAlgoritmoHash" type="xs:string"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>