src/main/resources/xsd/InvioOggettoAsincrono/InvioOggettoAsincrono.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. -->
<xs:schema xmlns:tns="http://ws.sacerasi.eng.it/" 
		   xmlns:xs="http://www.w3.org/2001/XMLSchema" 
		   xmlns:asi="http://invioasync.xml.ws.sacerasi.eng.it/"
		   version="1.0" 
		   targetNamespace="http://ws.sacerasi.eng.it/">

<xs:import namespace="http://invioasync.xml.ws.sacerasi.eng.it/" schemaLocation="./XSD%20SACER%20async.xsd"/>

<xs:element name="invioOggettoAsincrono" type="tns:invioOggettoAsincrono"/>

<xs:element name="invioOggettoAsincronoResponse" type="tns:invioOggettoAsincronoResponse"/>

<xs:element name="xml" type="asi:ListaUnitaDocumentarieType" />

<xs:complexType name="invioOggettoAsincrono">
<xs:sequence>
<xs:element name="nmAmbiente" type="xs:string" minOccurs="0"/>
<xs:element name="nmVersatore" type="xs:string" minOccurs="0"/>
<xs:element name="cdKeyObject" type="xs:string" minOccurs="0"/>
<xs:element name="nmTipoObject" type="xs:string" minOccurs="0"/>
<xs:element name="flFileCifrato" type="xs:boolean"/>
<xs:element name="flForzaWarning" type="xs:boolean"/>
<xs:element name="flForzaAccettazione" type="xs:boolean"/>
<xs:element name="dlMotivazione" type="xs:string" minOccurs="0"/>
<xs:element name="cdVersioneXml" type="xs:string" minOccurs="0"/>
<xs:element name="xml" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="invioOggettoAsincronoResponse">
<xs:sequence>
<xs:element name="return" type="tns:invioOggettoAsincronoRisposta" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="invioOggettoAsincronoRisposta">
<xs:sequence>
<xs:element name="cdErr" type="xs:string" minOccurs="0"/>
<xs:element name="cdEsito" type="tns:esitoServizio" minOccurs="0"/>
<xs:element name="cdKeyObject" type="xs:string" minOccurs="0"/>
<xs:element name="cdVersioneXML" type="xs:string" minOccurs="0"/>
<xs:element name="dsErr" type="xs:string" minOccurs="0"/>
<xs:element name="flFileCifrato" type="xs:boolean"/>
<xs:element name="flForzaAccettazione" type="xs:boolean"/>
<xs:element name="nmAmbiente" type="xs:string" minOccurs="0"/>
<xs:element name="nmTipoObject" type="xs:string" minOccurs="0"/>
<xs:element name="nmVersatore" type="xs:string" minOccurs="0"/>
<xs:element name="xml" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="esitoServizio">
<xs:restriction base="xs:string">
<xs:enumeration value="OK"/>
<xs:enumeration value="KO"/>
<xs:enumeration value="WARN"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>