src/main/resources/xsd/RichiestaChiusuraWarning/RichiestaChiusuraWarning.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. 
	RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) 
	JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. -->
<xs:schema xmlns:tns="http://ws.sacerasi.eng.it/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://ws.sacerasi.eng.it/">
	<xs:element name="richiestaChiusuraWarning" type="tns:richiestaChiusuraWarning" />
	<xs:element name="richiestaChiusuraWarningResponse" type="tns:richiestaChiusuraWarningResponse" />
	<xs:complexType name="richiestaChiusuraWarning">
		<xs:sequence>
			<xs:element name="nmAmbiente" type="xs:string" minOccurs="0" />
			<xs:element name="nmVersatore" type="xs:string" minOccurs="0" />
			<xs:element name="cdKeyObject" type="xs:string" minOccurs="0" />
			<xs:element name="dlMotivazione" type="xs:string"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="richiestaChiusuraWarningResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:richiestaChiusuraWarningRisposta"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="richiestaChiusuraWarningRisposta">
		<xs:sequence>
			<xs:element name="cdErr" type="xs:string" minOccurs="0" />
			<xs:element name="cdEsito" type="tns:esitoServizio"
				minOccurs="0" />
			<xs:element name="cdKeyObject" type="xs:string" minOccurs="0" />
			<xs:element name="dlErr" type="xs:string" minOccurs="0" />
			<xs:element name="nmAmbiente" type="xs:string" minOccurs="0" />
			<xs:element name="nmVersatore" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="esitoServizio">
		<xs:restriction base="xs:string">
			<xs:enumeration value="OK" />
			<xs:enumeration value="KO" />
			<xs:enumeration value="WARN" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
