src/main/resources/xsd/RicercaRestituzioniOggetti/RicercaRestituzioniOggetti.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. 
	RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) 
	JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. -->
<xs:schema xmlns:tns="http://ws.sacerasi.eng.it/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:order="http://diarioorder.xml.ws.sacerasi.eng.it/"
	xmlns:filtri="http://diariofiltri.xml.ws.sacerasi.eng.it/"
	xmlns:result="http://diarioresult.xml.ws.sacerasi.eng.it/"
	xmlns:out="http://diarioout.xml.ws.sacerasi.eng.it/"
	
	version="1.0" targetNamespace="http://ws.sacerasi.eng.it/">
	
	<xs:import namespace="http://diarioorder.xml.ws.sacerasi.eng.it/" schemaLocation="../RicercaCommons/RicercaDiarioOrder.xsd"/>
	<xs:import namespace="http://diariofiltri.xml.ws.sacerasi.eng.it/" schemaLocation="../RicercaCommons/RicercaDiarioFiltri.xsd"/>
	<xs:import namespace="http://diarioout.xml.ws.sacerasi.eng.it/" schemaLocation="../RicercaCommons/RicercaDiarioOut.xsd"/>
	<xs:import namespace="http://diarioresult.xml.ws.sacerasi.eng.it/" schemaLocation="../RicercaCommons/RicercaDiarioResult.xsd"/>
	<xs:element name="xmlDatiSpecOutput" type="out:ListaDatiSpecificiOutType" />
	<xs:element name="xmlDatiSpecFiltri" type="filtri:ListaFiltriType" />
	<xs:element name="xmlDatiSpecOrder" type="order:ListaDatiSpecificiOrderType" />
	<xs:element name="xmlDatiSpecResult" type="result:ListaValoriDatiSpecificiType" />

	<xs:element name="ricercaRestituzioniOggetti" type="tns:ricercaRestituzioniOggetti" />

	<xs:element name="ricercaRestituzioniOggettiResponse" type="tns:ricercaRestituzioniOggettiResponse" />

	<xs:complexType name="ricercaRestituzioniOggetti">
		<xs:sequence>
			<xs:element name="nmAmbiente" type="xs:string" minOccurs="0" />
			<xs:element name="nmVersatore" type="xs:string" minOccurs="0" />
			<xs:element name="nmTipoObject" type="xs:string"
				minOccurs="0" />
			<xs:element name="cdKeyObject" type="xs:string" minOccurs="0" />
			<xs:element name="tiStatoSessione" type="xs:string"
				minOccurs="0" />
			<xs:element name="dtAperturaSessioneDa" type="xs:dateTime"
				minOccurs="0" />
			<xs:element name="dtAperturaSessioneA" type="xs:dateTime"
				minOccurs="0" />
			<xs:element name="niRecordInizio" type="xs:int" />
			<xs:element name="niRecordResultSet" type="xs:int" />
			<xs:element name="xmlDatiSpecOutput" type="xs:string"
				minOccurs="0" />
			<xs:element name="xmlDatiSpecFiltri" type="xs:string"
				minOccurs="0" />
			<xs:element name="xmlDatiSpecOrder" type="xs:string"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ricercaRestituzioniOggettiResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:ricercaRestituzioniOggettiRisposta"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ricercaRestituzioniOggettiRisposta">
		<xs:sequence>
			<xs:element name="cdErr" type="xs:string" minOccurs="0" />
			<xs:element name="cdEsito" type="tns:esitoServizio"
				minOccurs="0" />
			<xs:element name="cdKeyObject" type="xs:string" minOccurs="0" />
			<xs:element name="dsErr" type="xs:string" minOccurs="0" />
			<xs:element name="dtAperturaSessioneA" type="xs:dateTime"
				minOccurs="0" />
			<xs:element name="dtAperturaSessioneDa" type="xs:dateTime"
				minOccurs="0" />
			<xs:element name="listaOggetti" type="tns:listaOggRicRestOggType"
				minOccurs="0" />
			<xs:element name="niRecordInizio" type="xs:int" />
			<xs:element name="niRecordOutput" type="xs:int" />
			<xs:element name="niRecordResultSet" type="xs:int" />
			<xs:element name="niRecordTotale" type="xs:int" />
			<xs:element name="nmAmbiente" type="xs:string" minOccurs="0" />
			<xs:element name="nmTipoObject" type="xs:string"
				minOccurs="0" />
			<xs:element name="nmVersatore" type="xs:string" minOccurs="0" />
			<xs:element name="tiStatoSessione" type="xs:string"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="listaOggRicRestOggType">
		<xs:sequence>
			<xs:element name="oggetto" type="tns:oggettoRicRestOggType"
				nillable="true" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="oggettoRicRestOggType">
		<xs:sequence>
			<xs:element name="cdErr" type="xs:string" minOccurs="0" />
			<xs:element name="cdKeyObject" type="xs:string" minOccurs="0" />
			<xs:element name="chiaveUnitaDoc" type="xs:string"
				minOccurs="0" />
			<xs:element name="dsErr" type="xs:string" minOccurs="0" />
			<xs:element name="dtAperturaSessione" type="xs:dateTime"
				minOccurs="0" />
			<xs:element name="dtChiusuraSessione" type="xs:dateTime"
				minOccurs="0" />
			<xs:element name="idObject" type="xs:long" minOccurs="0" />
			<xs:element name="idSessione" type="xs:long" minOccurs="0" />
			<xs:element name="tiStatoSessione" type="xs:string"
				minOccurs="0" />
			<xs:element name="xmlDatiSpecResult" type="xs:string"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="esitoServizio">
		<xs:restriction base="xs:string">
			<xs:enumeration value="OK" />
			<xs:enumeration value="KO" />
			<xs:enumeration value="WARN" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>